<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="menu">
                <p>
                    <a href="{{url_for('index')}}">Übersicht</a>
                </p>
                <p>
                    <a href="{{url_for('heute')}}">Heute</a>
                </p>
                <p>
                    <a href="{{url_for('woche')}}">Kalender&shywoche</a>
                </p>
                <p>
                    <a href="{{url_for('monat')}}">Monat</a>
                </p>
                <p>
                    <a href="{{url_for('admin_german')}}">Admin</a>
                </p>
                <p>
                    Download
                </p>
                <div class="language-container">
                    <div>
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="{{url_for('index')}}">
                            <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge">
                        </a>
                        <a href="{{url_for('overview')}}" id="english_page">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
            <div class="hamburger-menu">
                <div class="menu-icons">
                    <a href="{{url_for('heute')}}">
                        <img class="menu-icon" src="{{url_for('static', filename='bilder/heute.jpg')}}">
                    </a>
                    <a href="{{url_for('woche')}}">
                        <img class="menu-icon" src="{{url_for('static', filename='bilder/kalenderwoche.jpg')}}">
                    </a>
                    <a href="{{url_for('monat')}}">
                        <img class="menu-icon" src="{{url_for('static', filename='bilder/Monat.jpg')}}">
                    </a>
                    <div class="language-container" onmouseover="showOtherFlag()" onmouseout="hideOtherFlag()">
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge" class="current-language">
                        <a href="{{url_for('overview')}}">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="englische Flagge" class="other-language">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button id="infoButton">i</button>
            <div id="infoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Info:</h2>
                    <p>
                        Sie befinden sich auf der "Übersichts" Seite.<br>
                        Hier eine kurze Einführung wie Sie diese Seite bedienen können.
                    <ul>
                        <li>Sie sollten beide Stockwerke sehen und deren Bereiche</li>
                        <li>Klicken Sie auf ein Bereich Ihrer Wahl um zur Heute Ansicht dieses Bereiches zu gelangen
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>