<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" , href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='Scripts/month.js')}}"></script>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="menu">
                <p>
                    <a href="{{url_for('overview')}}">Overview</a>
                </p>
                <p>
                    <a href="{{url_for('today')}}">Today</a>
                </p>
                <p>
                    <a href="{{url_for('week')}}">Calendar Week</a>
                </p>
                <p>
                    Month
                    <span class="time-box">
                        <input type="number" id="month_selection" min="1" max="12" placeholder="Month as number" list="months"></input>
                        <datalist id="months">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                            <option value="6"></option>
                            <option value="7"></option>
                            <option value="8"></option>
                            <option value="9"></option>
                            <option value="10"></option>
                            <option value="11"></option>
                            <option value="12"></option>
                          </datalist>
                    </span>
                </p>
                <div class="language-container">
                    <div>
                        <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="englische Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="{{url_for('monat')}}">
                            <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge">
                        </a>
                        <a href="{{url_for('month')}}">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button id="infoButton">i</button>
            <div id="infoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Info:</h2>
                    <p>
                        You are one the "Month" page.<br>
                        Here is a short introduction how to use this site.
                    <ul>
                        <li>Step 1: Enter a valid calendar week in the input field under "Calendar week",
                            followed by the corresponding year. <br> Ex:"12 2023"</li>
                        <li>Step 2: Select a floor</li>
                        <li>Step 3: Select an appropriate area</li>
                    </ul>
                    </p>
                    You should now see a table and a graph representing the whole month.<br>
                    The volume of the respective day can be read from the graph.
                </div>
            </div>
            <div class="floor-area">
                <div class="choose">
                    Floor:
                    <select id="firstDropdown" onchange="updateSecondDropdown()" onchange="checkSelectionMonth()">
                        <option value="" disabled selected hidden></option>
                        <option value="floor1">1</option>
                        <option value="floor2">2</option>
                    </select>
                    Area:
                    <select id="secondDropdown" onchange="checkSelectionMonth()" disabled>
                        <option value="" disabled selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="today-week-month-display">
                <h3>
                    <span id ="average_of_month"></span>
                </h3>
                <div class="today-week-month-graph">
                    <canvas id="graph-for-month"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->

    <script>
        $(document).ready(function() {
            var myChart = null;

            const bgcolors = ['rgba(0, 158, 0, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(255, 0, 0, 0.6)'];
            const statusTracker = {
                id: 'statusTracker',
                beforeDatasetsDraw(chart, args, pluginOptions) {
                    const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                    ctx.save();

            drawBlocks(50, min_y, bgcolors[0]);
            drawBlocks(55, 50, bgcolors[1]);
            drawBlocks(max_y, 55, bgcolors[2]);
            function drawBlocks(yStart, yEnd, color) {
                ctx.fillStyle = color;
                ctx.fillRect(left, y.getPixelForValue(yStart/*!!!*/), width, y.getPixelForValue(yEnd/*!!!*/) - y.getPixelForValue(yStart));  //Hier wird der Höchste und Niedrigste Punkt gewählt bei dynamisch brauche ich die Daten
            }
        }}

            function updateChart(selectedOption1, selectedOption2) {    //1 is month, 2 is area
        $.ajax({
            url: '/get_chart_data',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ 'selected_option1': selectedOption1, 'selected_option2': selectedOption2 }),
            success: function(response) {
                // Handle the response and refresh the chart
                var newData = response[0];
                var newLabel = response[1];
                var min_y = response[2];    //die beiden für später mit dem Graphen
                var max_y = response[3];
                let sum = 0;
                for(let i=0; i< newData.length; i++){
                    sum += newData[i];
                }
                var monthly_average = Math.round(sum/ newData.length);
                if(monthly_average != NaN){
                    document.getElementById('average_of_month').innerHTML = ('dB ⌀ : ' + monthly_average);
                }

                // Clear the existing chart
                if (myChart !== null) {
                    myChart.destroy();
                }

                const bgcolors = ['rgba(0, 158, 0, 0.5)', 'rgba(255, 206, 86, 0.5)', 'rgba(255, 0, 0, 0.5)'];
                const statusTracker = {
                id: 'statusTracker',
                beforeDatasetsDraw(chart, args, pluginOptions) {
                    const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                    ctx.save();

            drawBlocks(50, Math.floor(min_y/10)*10, bgcolors[0]);
            drawBlocks(55, 50, bgcolors[1]);
            drawBlocks(Math.ceil(max_y/10)*10, 55, bgcolors[2]);
            function drawBlocks(yStart, yEnd, color) {
                ctx.fillStyle = color;
                ctx.fillRect(left, y.getPixelForValue(yStart/*!!!*/), width, y.getPixelForValue(yEnd/*!!!*/) - y.getPixelForValue(yStart));  //Hier wird der Höchste und Niedrigste Punkt gewählt bei dynamisch brauche ich die Daten
            }
        }}

                var ctx = document.getElementById('graph-for-month').getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: newLabel,
                        datasets: [{
                            label: 'Decibel',
                            data: newData,
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(255, 255, 255, 0.7)',
                            
                            tension: 0.3,
                            pointRadius: 5,
                            pointHoverRadius: 7
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        scales: {
                            y: {
                                min: Math.floor(min_y/10)*10,
                                position: 'right',
                                title: {
                                    display:true,
                                    text: 'decibel',
                                    color: 'white',
                                    font: {
                                        family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                        size: 20
                    }
                                },
                                ticks: {
                                color: 'white', //war davor white
                                font: {
                                    family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                    size: 20
                                    }
                                },
                                grid: {
                                    display: false // Raster für y-Achse ausblenden
                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Day',
                                    color: 'white',
                                    font: {
                                        family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                        size: 20
                                    }
                                },
                                ticks: {
                                    color: 'white',
                                    font: {
                                        family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                        size: 20
                                    }
                                },
                                grid: {
                                    display: false // Raster für y-Achse ausblenden
                                }
                            }
                        }
                    },
                    plugins: [statusTracker]
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    $('#month_selection').on('change', function() {
        var selectedOption1 = $(this).val();
        var selectedOption2 = $('#secondDropdown').val();
        if (selectedOption1 && selectedOption2) {
            updateChart(selectedOption1, selectedOption2);
    }
    });

    $('#secondDropdown').on('change', function() {
        var selectedOption2 = $(this).val();
        if ($('#month_selection').val() && selectedOption2) {
            updateChart($('#month_selection').val(), selectedOption2);
    }
    });
});
    </script>


    <!---->

</body>

</html>
