<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="{{url_for('static', filename='Scripts/day.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="menu">
                <p>
                    <a href="{{url_for('index')}}">Übersicht</a>
                </p>
                <p>Heute</p>
                <p>
                    <a href="{{url_for('woche')}}">Kalender&shywoche</a>
                </p>
                <p>
                    <a href="{{url_for('monat')}}">Monat</a>
                </p>
                <p>
                    <a href="{{url_for('download_german')}}">Download</a>
                </p>
                <p>
                    <a href="{{url_for('admin_german')}}">Admin</a>
                </p>
                <div class="language-container">
                    <div>
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}"
                            alt="Deutschland Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="{{url_for('heute')}}">
                            <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}"
                                alt="Deutschland Flagge">
                        </a>
                        <a href="{{url_for('today')}}" id="english_page">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}"
                                alt="englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button id="infoButton">i</button>
            <div id="infoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Info:</h2>
                    <p>
                        Sie befinden sich auf der "Heute" Seite.<br>
                        Hier eine kurze Einführung wie Sie diese Seite bedienen können.
                    <ul>
                        <li>Schritt 1: Wählen Sie ein Stockwerk aus</li>
                        <li>Schritt 2: Wählen Sie einen entsprechenden Bereich aus</li>
                    </ul>
                    </p>
                    <p>
                        Die Anzeige des jeweiligen Bereiches sollte sich nun geöffnet haben, dort sehen sie
                        einen Graphen der die
                        entsprechende Lautstärke zu der entsprechenden Zeit anzeigt.
                    </p>
                    Rechts sehen Sie die an den Bereich angepasste Soll höchstwert Lautstärke und darunter die
                    derzeitige Lautstärke.
                </div>
            </div>
            <div class="floor-area">
                <div class="choose">
                    Stockwerk:
                    <select id="firstDropdown" onchange="updateSecondDropdown()" onchange="checkSelectionDay()">
                        <option value="" disabled selected hidden></option>
                        <option value="floor1">1</option>
                        <option value="floor2">2</option>
                    </select>
                    Bereich:
                    <select id="secondDropdown" onchange="checkSelectionDay()" disabled>
                        <option value="" disabled selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="today-week-month-display">
                <div class="überschrift">
                    <h3>Übersicht der Lautstärke von Heute</h3>
                </div>
                <div class="today-week-month-graph">
                    <canvas id="graph-fuer-tag"></canvas>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            var myChart = null;

            function updateChart(selectedOption1) {    // 2 is the secondOption
                $.ajax({
                    url: '/get_chart_data',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'selected_option1': selectedOption1 }),
                    success: function (response) {
                        // Handle the response and refresh the chart
                        var newData = response[0];
                        var newLabel = response[1];
                        var min_y = response[2];    //die beiden für später mit dem Graphen
                        var max_y = response[3];

                        // Clear the existing chart
                        if (myChart !== null) {
                            myChart.destroy();
                        }

                        const bgcolors = ['rgba(255, 206, 00, 0.5)', 'rgba(255, 0, 0, 0.5)'];
                        const statusTracker = {
                            id: 'statusTracker',
                            beforeDatasetsDraw(chart, args, pluginOptions) {
                                const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                                ctx.save();

                                drawLines(50, bgcolors[0]);
                                drawLines(55, bgcolors[1]);
                                function drawLines(yValue, color) {
                                    ctx.beginPath();
                                    ctx.lineWidth = 5;
                                    ctx.strokeStyle = color;
                                    ctx.moveTo(left, y.getPixelForValue(yValue));
                                    ctx.lineTo(right, y.getPixelForValue(yValue));
                                    ctx.stroke();
                                    ctx.closePath();
                                    ctx.restore();
                                }
                            }
                        }

                        var ctx = document.getElementById('graph-fuer-tag').getContext('2d');
                        myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: newLabel,
                                datasets: [{
                                    label: 'Dezibel',
                                    data: newData,
                                    backgroundColor: 'rgb(70, 0, 250)',
                                    borderColor: 'rgb(70, 0, 250)',
                                    tension: 0.3,
                                    pointRadius: 5,
                                    pointHoverRadius: 7
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {
                                        display: false
                                    }
                                },
                                scales: {
                                    y: {
                                        min: 40,
                                        max: 90,
                                        position: 'right',
                                        title: {
                                            display: true,
                                            text: 'Dezibel',
                                            color: 'black',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        ticks: {
                                            color: 'black',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        grid: {
                                            display: false
                                        }
                                    },
                                    x: {
                                        title: {
                                            display: true,
                                            text: 'Uhrzeit',
                                            color: 'black',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        ticks: {
                                            color: 'black',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        grid: {
                                            display: false
                                        }
                                    }
                                }
                            },
                            plugins: [statusTracker]
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }

            $('#secondDropdown').on('change', function () {
                var selectedOption2 = $(this).val();
                console.log("onChange wird getriggerd")
                if (selectedOption2) {
                    updateChart(selectedOption2);
                }
            });
        });
    </script>



    <!-- Javascript -->
    <!---->

</body>

</html>