<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <button id="infoButton">i</button>
    <div id="infoModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            Test
        </div>
    </div>
    <div class="container">
        <div class="navbar">
            <div class="menu">
                <p>
                    <a href="{{url_for('index')}}">Übersicht</a>
                </p>
                <p>
                    <a href="{{url_for('heute')}}">Heute</a>
                </p>
                <p>
                    Kalender&shywoche
                    <span class="time-box">
                        <textarea></textarea>
                    </span>
                </p>
                <p>
                    <a href="{{url_for('monat')}}">Monat</a>
                </p>
                <p>
                    <a href="{{url_for('download_german')}}">Download</a>
                </p>
                <p>
                    <a href="{{url_for('admin_german')}}">Admin</a>
                </p>
                <div class="language-container">
                    <div>
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}"
                            alt="englische Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="{{url_for('woche')}}">
                            <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}"
                                alt="Deutschland Flagge">
                        </a>
                        <a href="{{url_for('week')}}" id="english_page">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}"
                                alt="englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kleines-menu">
            <div class="menu-icons">
                <a href="{{url_for('index')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/übersicht.png')}}">
                </a>
                <a href="{{url_for('heute')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/heute.png')}}">
                </a>
                <a href="{{url_for('woche')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/kalenderwoche.png')}}">
                </a>
                <a href="{{url_for('monat')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/monat.png')}}">
                </a>
                <a href="{{url_for('download_german')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/download.png')}}">
                </a>
                <a href="{{url_for('admin_german')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/admin.png')}}">
                </a>
            </div>
            <div class="language-container">
                <div>
                    <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge">
                </div>
                <div class="all-languages">
                    <a href="{{url_for('index')}}">
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}"
                            alt="Deutschland Flagge">
                    </a>
                    <a href="{{url_for('overview')}}" id="english_page">
                        <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="englische Flagge">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="floor-area">
                <div class="choose">
                    Stockwerk:
                    <select id="firstDropdown" onchange="updateSecondDropdown()" onchange="checkSelectionWeek()">
                        <option value="" disabled selected hidden></option>
                        <option value="floor1">1</option>
                        <option value="floor2">2</option>
                    </select>
                    Bereich:
                    <select id="secondDropdown" onchange="checkSelectionWeek()" disabled>
                        <option value="" disabled selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="today-week-month-display">
                KW: 15, &nbsp; Zeitraum: 10.04.23 - 14.04.23
                <div class="legend-box">
                    <button id="mo" onclick="toggleData(0, 'button1', 'mo')" class="item">
                        <span id="button1Text">Montag</span>
                    </button>
                    <button id="di" onclick="toggleData(1, 'button2', 'di')" class="item">
                        <span id="button2Text">Dienstag</span>
                    </button>
                    <button id="mi" onclick="toggleData(2, 'button3', 'mi')" class="item">
                        <span id="button3Text">Mittwoch</span>
                    </button>
                    <button id="do" onclick="toggleData(3, 'button4', 'do')" class="item">
                        <span id="button4Text">Donnerstag</span>
                    </button>
                    <button id="fr" onclick="toggleData(4, 'button5', 'fr')" class="item">
                        <span id="button5Text">Freitag</span>
                    </button>
                </div>
                <div class="today-week-month-graph">
                    <canvas id="graph-fuer-woche"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="{{url_for('static', filename='Scripts/week.js')}}"></script>
    <!---->

</body>

</html>