<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">
        <button id="infoButton">i</button>
        <div id="infoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img class="img-info" src="{{url_for('static', filename='bilder/Info/Info-kalenderwoche.jpg')}}">
                <!--<div class="info-floor">
                    2. Wählen Sie ein Stockwerk.
                </div>
                <div class="info-area">
                    3. Ein Bereich kann erst ausgewählt werden, nachdem Sie ein Stockwerk ausgewählt haben.
                </div>
                <div class="info-weekpicker">
                    1. Wählen Sie hier die Kalenderwoche über welche Sie eine Aussicht haben möchten.
                </div>
                <div class="info-kwday">
                    Sie können durch anklicken der Tage das jeweilige Liniendiagramm aus dem Graphen entfernen und durch erneutes klicken wieder hinzufügen machen.
                </div>
                <div class="info-measure-system">
                    Jede Sekunde misst ein Messgerät einen Wert.<br>
                    Nach einer Stunde wird der Mittelwert von allen Werten
                    eines Bereichs berechnet.<br> Gemessen wird von X:30 Uhr bis X:29:59 Uhr.<br>
                </div>-->
            </div>
        </div>
        <div class="navbar">
            <div class="menu">
                <p>
                    <a href="{{url_for('index')}}">Übersicht</a>
                </p>
                <p>
                    <a href="{{url_for('heute')}}">Heute</a>
                </p>
                <p>
                    Kalender&shywoche
                    <input type="week" id="week_selection">
                </p>
                <p>
                    <a href="{{url_for('monat')}}">Monat</a>
                </p>
                <p>
                    <a href="{{url_for('download_german')}}">Download</a>
                </p>
                <p>
                    <a href="{{url_for('admin_german')}}">Admin</a>
                </p>
                <div class="language-container">
                    <div>
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}"
                            alt="englische Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="{{url_for('week')}}" id="english_page">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}"
                                alt="Englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="kleines-menu">
            <div class="menu-icons">
                <a href="{{url_for('index')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/übersicht.png')}}">
                </a>
                <a href="{{url_for('heute')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/heute.png')}}">
                </a>
                <a href="{{url_for('woche')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/kalenderwoche.png')}}">
                </a>
                <span class="time-box">
                    <input type="week" id="month_selection">
                </span>
                <div class="space-bottom"></div>
                <a href="{{url_for('monat')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/monat.png')}}">
                </a>
                <a href="{{url_for('download_german')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/download.png')}}">
                </a>
                <a href="{{url_for('admin_german')}}">
                    <img class="menu-icon" src="{{url_for('static', filename='bilder/admin.png')}}">
                </a>
            </div>
            <div class="language-container">
                <div>
                    <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge">
                </div>
                <div class="all-languages">
                    <a href="{{url_for('overview')}}" id="english_page">
                        <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="Englische Flagge">
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="floor-area">
                <div class="choose">
                    Stockwerk:
                    <select id="firstDropdown" onchange="updateSecondDropdown()" onchange="checkSelectionWeek()">
                        <option value="" disabled selected hidden></option>
                        <option value="floor1">1</option>
                        <option value="floor2">2</option>
                    </select>
                    Bereich:
                    <select id="secondDropdown" onchange="checkSelectionWeek()" disabled>
                        <option value="" disabled selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="today-week-month-display">
                <div id="info_for_week">KW: 15, &nbsp; Zeitraum: 10.04.23 - 14.04.23</div>
                <div class="legend-box">
                    <button id="mo" onclick="toggleData(0, 'button1', 'mo')" class="item">
                        <span id="button1Text">Montag</span>
                    </button>
                    <button id="di" onclick="toggleData(1, 'button2', 'di')" class="item">
                        <span id="button2Text">Dienstag</span>
                    </button>
                    <button id="mi" onclick="toggleData(2, 'button3', 'mi')" class="item">
                        <span id="button3Text">Mittwoch</span>
                    </button>
                    <button id="do" onclick="toggleData(3, 'button4', 'do')" class="item">
                        <span id="button4Text">Donnerstag</span>
                    </button>
                    <button id="fr" onclick="toggleData(4, 'button5', 'fr')" class="item">
                        <span id="button5Text">Freitag</span>
                    </button>
                </div>
                <div class="today-week-month-graph">
                    <canvas id="graph-fuer-woche"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <!-- <script src="{{url_for('static', filename='Scripts/week.js')}}"></script> -->
    <!---->

    <script>
        var myChart = null;
        $(document).ready(function () {
            function updateChart(selectedOption1, selectedOption2) {
                $.ajax({
                    url: '/get_week_chart_data',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'selected_option1': selectedOption1, 'selected_option2': selectedOption2 }),
                    success: function (response) {
                        // Handle the response and refresh the chart
                        var data_dict = response[0];
                        var date_monday = response[1];
                        var date_friday = response[2];

                        var monday_split =date_monday.split("-");
                        date_monday = monday_split[2] + "." + monday_split[1] + "." + monday_split[0];
                        var friday_split =date_friday.split("-");
                        date_friday = friday_split[2] + "." + friday_split[1] + "." + friday_split[0];

                        var week = response[3];

                        console.log(data_dict);
                        console.log(date_monday);
                        console.log(date_friday);
                        console.log(week);


                        // Clear the existing chart
                        if (myChart !== null) {
                            myChart.destroy();
                        }
                        console.log("before innerHTML")
                        var displayElement = document.querySelector('#info_for_week');
                        displayElement.innerHTML = ("KW: " + week + ",  Zeitraum: " + date_monday + " - " + date_friday);
                        //document.getElementsByClassName('today-week-month-display').innerHTML[0] = ("KW: " + week + ",  Zeitraum: " + date_monday + " - " + date_friday);
                        console.log("after innerHTML")
                        const bgcolors = ['rgba(255, 206, 86, 0.6)', 'rgba(255, 0, 0, 0.6)'];
                        const statusTracker = {
                            id: 'statusTracker',
                            beforeDatasetsDraw(chart, args, pluginOptions) {
                                const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                                ctx.save();

                                drawLines(50, bgcolors[0]);
                                drawLines(55, bgcolors[1]);
                                function drawLines(yValue, color) {
                                    ctx.beginPath();
                                    ctx.lineWidth = 5;
                                    ctx.strokeStyle = color;
                                    ctx.moveTo(left, y.getPixelForValue(yValue));
                                    ctx.lineTo(right, y.getPixelForValue(yValue));
                                    ctx.stroke();
                                    ctx.closePath();
                                    ctx.restore();
                                }
                            }
                        }


                        const woche = document.getElementById('graph-fuer-woche');
                        Chart.defaults.font.size = 18;
                        myChart = new Chart(woche, {
                            type: 'line',
                            data: {
                                labels: ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00'],
                                datasets: [{
                                    label: 'Montag',
                                    borderColor: 'rgb(70, 0, 250)',
                                    backgroundColor: 'rgb(70, 0, 250)',
                                    data: Object.values(data_dict["Monday"]),
                                    tension: 0.3,
                                    pointRadius: 5,
                                    pointHoverRadius: 7
                                },
                                {
                                    label: 'Dienstag',
                                    borderColor: 'rgb(135, 206, 250)',
                                    backgroundColor: 'rgb(135, 206, 250)',
                                    data: Object.values(data_dict["Tuesday"]),
                                    tension: 0.3,
                                    pointRadius: 5,
                                    pointHoverRadius: 7
                                },
                                {
                                    label: 'Mittwoch',
                                    borderColor: 'rgb(64, 224, 208)',
                                    backgroundColor: 'rgb(64, 224, 208)',
                                    data: Object.values(data_dict["Wednesday"]),
                                    tension: 0.3,
                                    pointRadius: 5,
                                    pointHoverRadius: 7
                                },
                                {
                                    label: 'Donnerstag',
                                    borderColor: 'rgb(150, 131, 236)',
                                    backgroundColor: 'rgb(150, 131, 236)',
                                    data: Object.values(data_dict["Thursday"]),
                                    tension: 0.3,
                                    pointRadius: 5,
                                    pointHoverRadius: 7
                                },
                                {
                                    label: 'Freitag',
                                    borderColor: 'rgb(204, 204, 255)',
                                    backgroundColor: 'rgb(204, 204, 255)',
                                    data: Object.values(data_dict["Friday"]),
                                    tension: 0.3,
                                    pointRadius: 5,
                                    pointHoverRadius: 7
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {
                                        display: false
                                    }
                                },
                                scales: {
                                    y: {
                                        min: 40,
                                        max: 90,
                                        position: 'right',
                                        title: {
                                            display: true,
                                            color: 'black',
                                            text: 'Dezibel',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        ticks: {
                                            color: 'black',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        grid: {
                                            display: false // Raster für y-Achse ausblenden
                                        }
                                    },
                                    x: {
                                        title: {
                                            display: true,
                                            color: 'black',
                                            text: 'Uhrzeit',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        ticks: {
                                            color: 'black',
                                            font: {
                                                family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                                size: 20
                                            }
                                        },
                                        grid: {
                                            display: false // Raster für y-Achse ausblenden
                                        }
                                    }
                                }
                            },
                            plugins: [statusTracker, /*Chart.pluginService*/]
                        });

                        // Chart.plugins.register({
                        //     afterDraw: function (chart) {
                        //         var ctx = chart.ctx;
                        //         var data = chart.config.data;

                        //         if (data.datasets.length === 0 || data.labels.length === 0) {
                        //             ctx.font = "20px Arial";
                        //             ctx.fillStyle = "black";
                        //             ctx.textAlign = "center";
                        //             ctx.fillText("NO DATA", chart.width / 2, chart.height / 2);
                        //         }
                        //     }
                        // });

                        const legendColors = ['rgb(70, 0, 250)', 'rgb(135, 206, 250)', 'rgb(64, 224, 208)', 'rgb(150, 131, 236)', 'rgb(204, 204, 255)']
                        const shortDays = ['Mo', 'Di', 'Mi', 'Do', 'Fr']
                        const longDays = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag']

                        //Legt Hintergrundfarbe der Legende dynamisch an
                        document.getElementById('mo').style.backgroundColor = myChart.data.datasets[0].backgroundColor;
                        document.getElementById('di').style.backgroundColor = myChart.data.datasets[1].backgroundColor;
                        document.getElementById('mi').style.backgroundColor = myChart.data.datasets[2].backgroundColor;
                        document.getElementById('do').style.backgroundColor = myChart.data.datasets[3].backgroundColor;
                        document.getElementById('fr').style.backgroundColor = myChart.data.datasets[4].backgroundColor;

                        // function toggleData(value, buttonId, day, short) {
                        //     const visibiltyData = myChart.isDatasetVisible(value);
                        //     var textElement = document.getElementById(buttonId + "Text");
                        //     if (visibiltyData === true) {
                        //         myChart.hide(value);
                        //         textElement.classList.add("strikethrough");
                        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = 'grey';
                        //     }
                        //     else {
                        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
                        //     }
                        //     if (visibiltyData === false) {
                        //         myChart.show(value);
                        //         textElement.classList.remove("strikethrough");
                        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
                        //     }
                        // }


                        // var mondayButton = document.getElementById("button1Text");
                        // var tuesdayButton = document.getElementById("button2Text");
                        // var wednesdayButton = document.getElementById("button3Text");
                        // var thursdayButton = document.getElementById("button4Text");
                        // var fridayButton = document.getElementById("button5Text");

                        // function updateButtonContent() {
                        //     var windowWidth = window.innerWidth;

                        //     if (windowWidth < 1300) {
                        //         mondayButton.textContent = "Mo";
                        //         tuesdayButton.textContent = "Di";
                        //         wednesdayButton.textContent = "Mi";
                        //         thursdayButton.textContent = "Do";
                        //         fridayButton.textContent = "Fr";
                        //     } else {
                        //         mondayButton.textContent = "Montag";
                        //         tuesdayButton.textContent = "Dienstag";
                        //         wednesdayButton.textContent = "Mittwoch";
                        //         thursdayButton.textContent = "Donnerstag";
                        //         fridayButton.textContent = "Freitag";
                        //     }
                        // }

                        // window.addEventListener("resize", updateButtonContent);
                        // updateButtonContent();




                        // //Entfernen oder hinzufügen einer Linie bei Englsich
                        // function toggleDataE(value, buttonId, day) {
                        //     const visibiltyData = myChartE.isDatasetVisible(value);
                        //     var textElement = document.getElementById(buttonId + "Text");
                        //     if (visibiltyData === true) {
                        //         myChartE.hide(value);
                        //         textElement.classList.add("strikethrough");
                        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = 'grey';
                        //     }
                        //     else {
                        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
                        //     }
                        //     if (visibiltyData === false) {
                        //         myChartE.show(value);
                        //         textElement.classList.remove("strikethrough");
                        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
                        //     }
                        // }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
            //hier kommen die .on('change') hin
            $('#week_selection').on('change', function () {
                var selectedOption1 = $(this).val();
                var selectedOption2 = $('#secondDropdown').val();
                if (selectedOption1 && selectedOption2) {
                    // document.getElementsByClassName("today-week-month-display").style.display = 'block';
                    console.log("If in week_selection");
                    updateChart(selectedOption1, selectedOption2);
                }
            });

            $('#secondDropdown').on('change', function () {
                var selectedOption2 = $(this).val();
                var selectedOption1 = $('#week_selection').val();
                if (selectedOption1 && selectedOption2) {
                    // document.getElementsByClassName("today-week-month-display").style.display = 'block';
                    console.log("If in secondDropdown");
                    updateChart(selectedOption1, selectedOption2);
                }
            });
        });

        const legendColors = ['rgb(70, 0, 250)', 'rgb(135, 206, 250)', 'rgb(64, 224, 208)', 'rgb(150, 131, 236)', 'rgb(204, 204, 255)']
        const shortDays = ['Mo', 'Di', 'Mi', 'Do', 'Fr']
        const longDays = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag']

        //Legt Hintergrundfarbe der Legende dynamisch an
        document.getElementById('mo').style.backgroundColor = myChart.data.datasets[0].backgroundColor;
        document.getElementById('di').style.backgroundColor = myChart.data.datasets[1].backgroundColor;
        document.getElementById('mi').style.backgroundColor = myChart.data.datasets[2].backgroundColor;
        document.getElementById('do').style.backgroundColor = myChart.data.datasets[3].backgroundColor;
        document.getElementById('fr').style.backgroundColor = myChart.data.datasets[4].backgroundColor;

        function toggleData(value, buttonId, day, short) {
            const visibiltyData = myChart.isDatasetVisible(value);
            var textElement = document.getElementById(buttonId + "Text");
            if (visibiltyData === true) {
                myChart.hide(value);
                textElement.classList.add("strikethrough");
                document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = 'grey';
            }
            else {
                document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
            }
            if (visibiltyData === false) {
                myChart.show(value);
                textElement.classList.remove("strikethrough");
                document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
            }
        }


        var mondayButton = document.getElementById("button1Text");
        var tuesdayButton = document.getElementById("button2Text");
        var wednesdayButton = document.getElementById("button3Text");
        var thursdayButton = document.getElementById("button4Text");
        var fridayButton = document.getElementById("button5Text");

        function updateButtonContent() {
            var windowWidth = window.innerWidth;

            if (windowWidth < 1300) {
                mondayButton.textContent = "Mo";
                tuesdayButton.textContent = "Di";
                wednesdayButton.textContent = "Mi";
                thursdayButton.textContent = "Do";
                fridayButton.textContent = "Fr";
            } else {
                mondayButton.textContent = "Montag";
                tuesdayButton.textContent = "Dienstag";
                wednesdayButton.textContent = "Mittwoch";
                thursdayButton.textContent = "Donnerstag";
                fridayButton.textContent = "Freitag";
            }
        }

        window.addEventListener("resize", updateButtonContent);
        updateButtonContent();




        // //Entfernen oder hinzufügen einer Linie bei Englsich
        // function toggleDataE(value, buttonId, day) {
        //     const visibiltyData = myChartE.isDatasetVisible(value);
        //     var textElement = document.getElementById(buttonId + "Text");
        //     if (visibiltyData === true) {
        //         myChartE.hide(value);
        //         textElement.classList.add("strikethrough");
        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = 'grey';
        //     }
        //     else {
        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
        //     }
        //     if (visibiltyData === false) {
        //         myChartE.show(value);
        //         textElement.classList.remove("strikethrough");
        //         document.getElementById(day).style.backgroundColor = myChart.data.datasets[value].backgroundColor = legendColors[value];
        //     }
        // }


        //DROP DOWN MENÜS
        function updateSecondDropdown() {
            const firstDropdown = document.getElementById('firstDropdown');
            const secondDropdown = document.getElementById('secondDropdown');

            // Optionen im zweiten Dropdown-Menü basierend auf Auswahl im ersten Dropdown aktualisieren
            if (firstDropdown.value === 'floor1') {
                secondDropdown.innerHTML = `
        <option value="" disabled selected hidden></option>
        <option value="area-a">A</option>
        <option value="area-b">B</option>
        <option value="area-c">C</option>
      `;
            } else if (firstDropdown.value === 'floor2') {
                secondDropdown.innerHTML = `
        <option value="" disabled selected hidden></option>
        <option value="area-d">D</option>
        <option value="area-e">E</option>
        <option value="area-f">F</option>
        <option value="area-g">G</option>
        <option value="area-h">H</option>
      `;
            }
            // Aktiviere das zweite Dropdown-Menü, falls eine Option ausgewählt wurde
            secondDropdown.disabled = firstDropdown.value === '';
        }

        //STOCKWERK UND BEREICH SICHTBAR MACHEN
        function checkSelectionWeek() {
            const firstDropdown = document.getElementById('firstDropdown');
            const secondDropdown = document.getElementById('secondDropdown');
            const week = document.getElementsByClassName('today-week-month-display');

            if (firstDropdown.value !== '' && secondDropdown.value !== '') {
                for (let i = 0; i < week.length; i++) {
                    week[i].style.display = 'flex';
                }
            } else {
                for (let i = 0; i < week.length; i++) {
                    week[i].style.display = 'none';
                }
            }
        }

        //FLAGGE
        function showOtherFlag() {
            const otherFlag = document.querySelector('.other-language');
            otherFlag.style.display = 'inline';
        }
        function hideOtherFlag() {
            const otherFlag = document.querySelector('.other-language');
            otherFlag.style.display = 'none';
        }

        //Info
        // Wenn der Info-Button geklickt wird, öffnet sich das Hilfe-Fenster
        document.getElementById("infoButton").addEventListener("click", function () {
            document.getElementById("infoModal").style.display = "block";
        });

        // Wenn das Schließen-Symbol oder der Hintergrund des Info-Fensters geklickt wird, wird es geschlossen
        document.getElementsByClassName("close")[0].addEventListener("click", function () {
            document.getElementById("infoModal").style.display = "none";
        });

        window.onclick = function (event) {
            if (event.target == document.getElementById("infoModal")) {
                document.getElementById("infoModal").style.display = "none";
            }
        };

        //Hamburger Menü
        function toggleMenu() {
            const menu = document.querySelector('.menu');
            menu.classList.toggle('open');
        }

        window.addEventListener('resize', function () {
            const menu = document.querySelector('.menu');
            if (window.innerWidth > 700) {
                menu.classList.remove('open');
            }
        });


        // hier kommt der restliche Week.js Teil hin
    </script>

</body>

</html>