<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='Scripts/month.js')}}"></script>

</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="menu">
                <p>
                    <a href="{{url_for('index')}}">Übersicht</a>
                </p>
                <p>
                    <a href="{{url_for('heute')}}">Heute</a>
                </p>
                <p>
                    <a href="{{url_for('woche')}}">Kalender&shywoche</a>
                </p>
                <p>
                    Monat<br>
                    <span class="time-box">
                        <input id="month_selection" min="1" max="12" placeholder="als Zahl" list="months" onkeydown="if (event.keyCode !== 8) {event.preventDefault();}"></input>
                        <datalist id="months">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                            <option value="6"></option>
                            <option value="7"></option>
                            <option value="8"></option>
                            <option value="9"></option>
                            <option value="10"></option>
                            <option value="11"></option>
                            <option value="12"></option>
                        </datalist>
                    </span>
                </p>
                <p>
                    <a href="{{url_for('download_german')}}">Download</a>
                </p>
                <p>
                    <a href="{{url_for('admin_german')}}">Admin</a>
                </p>
                <div class="language-container">
                    <div>
                        <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="englische Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="{{url_for('monat')}}">
                            <img src="{{url_for('static', filename='bilder/deutschland-flagge.jpg')}}" alt="Deutschland Flagge">
                        </a>
                        <a href="{{url_for('month')}}" id="english_page">
                            <img src="{{url_for('static', filename='bilder/englische-flagge.jpg')}}" alt="englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button id="infoButton">i</button>
            <div id="infoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Info:</h2>
                    <p>
                        Sie befinden sich auf der "Monat" Seite.<br>
                        Hier eine kurze Einführung wie Sie diese Seite bedienen können.
                    <ul>
                        <li>Schritt 1: Geben Sie in dem Eingabefeld unterhalb "Monat" einen gültigen Monat an,
                            mit dem zugehörigem Jahr dahinter. <br> Bsp:"12 2023"</li>
                        <li>Schritt 2: Wählen Sie ein Stockwerk aus</li>
                        <li>Schritt 3: Wählen Sie einen entsprechenden Bereich aus
                        </li>
                    </ul>
                    </p>
                    Sie sollten nun eine Tabelle und einen Graphen sehen welcher den ganzen Monat darstellt.<br>
                    An dem Graphen kann die Lautstärke des jeweiligen Tages abgelesen werden.
                </div>
            </div>
            <div class="floor-area">
                <div class="choose">
                    Stockwerk:
                    <select id="firstDropdown" onchange="updateSecondDropdown()" onchange="checkSelectionMonth()">
                        <option value="" disabled selected hidden></option>
                        <option value="floor1">1</option>
                        <option value="floor2">2</option>
                    </select>
                    Bereich:
                    <select id="secondDropdown" onchange="checkSelectionMonth()" disabled>
                        <option value="" disabled selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="today-week-month-display">
                <h3>
                    <span id ="average_of_month"></span>
                </h3>
                <div class="today-week-month-graph">                      <!--wird irgendwie nicht angezeigt-->
                
                    <canvas id="graph-fuer-monat"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var myChart = null;
            
            const bgcolors = ['rgba(0, 158, 0, 0.6)', 'rgba(255, 206, 86, 0.6)', 'rgba(255, 0, 0, 0.6)'];
            const statusTracker = {
                id: 'statusTracker',
                beforeDatasetsDraw(chart, args, pluginOptions) {
                    const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                    ctx.save();

            drawBlocks(50, min_y, bgcolors[0]);
            drawBlocks(55, 50, bgcolors[1]);
            drawBlocks(max_y, 55, bgcolors[2]);
            function drawBlocks(yStart, yEnd, color) {
                ctx.fillStyle = color;
                ctx.fillRect(left, y.getPixelForValue(yStart/*!!!*/), width, y.getPixelForValue(yEnd/*!!!*/) - y.getPixelForValue(yStart));  //Hier wird der Höchste und Niedrigste Punkt gewählt bei dynamisch brauche ich die Daten
            }
        }
    }

            function updateChart(selectedOption1, selectedOption2) {    //1 is month, 2 is area
        $.ajax({
            url: '/get_chart_data',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ 'selected_option1': selectedOption1, 'selected_option2': selectedOption2 }),
            success: function(response) {
                // Handle the response and refresh the chart
                var newData = response[0];
                var newLabel = response[1];
                var min_y = response[2];    //die beiden für später mit dem Graphen
                var max_y = response[3];
                let sum = 0;
                for(let i=0; i< newData.length; i++){
                    sum += newData[i];
                }
                var monthly_average = Math.round(sum/ newData.length);
                if(monthly_average != NaN){
                    document.getElementById('average_of_month').innerHTML = ('dB ⌀ : ' + monthly_average);
                }

                // Clear the existing chart
                if (myChart !== null) {
                    myChart.destroy();
                }
                
                const bgcolors = ['rgba(0, 158, 0, 0.5)', 'rgba(255, 206, 00, 0.5)', 'rgba(255, 0, 0, 0.5)'];
                const statusTracker = {
                id: 'statusTracker',
                beforeDatasetsDraw(chart, args, pluginOptions) {
                    const { ctx, chartArea: { top, bottom, left, right, width, height }, scales: { x, y } } = chart;
                    ctx.save();
            
                    if(newData.some(value => value <= 50)==true){
                        drawBlocks(50, min_y-3, bgcolors[0]);
                    }

                    if(newData.some(value => value >= 50 && value <= 55)==true){
                        drawBlocks(55, 50, bgcolors[1]);
                    }

                    if(newData.some(value => value >= 55)==true){
                        if(newData.every((item) => item > 55)){
                            drawBlocks(max_y+3, min_y-3, bgcolors[2]);
                        } else {
                            drawBlocks(max_y+3,55, bgcolors[2]);
                        }
                    }

            
            
            function drawBlocks(yStart, yEnd, color) {
                ctx.fillStyle = color;
                ctx.fillRect(left, y.getPixelForValue(yStart/*!!!*/), width, y.getPixelForValue(yEnd/*!!!*/) - y.getPixelForValue(yStart));  //Hier wird der Höchste und Niedrigste Punkt gewählt bei dynamisch brauche ich die Daten
                //ctx.fillRect(left, bottom - (height * (yStart - min_y) / (max_y - min_y)), width, (height * (yStart - yEnd) / (max_y - min_y)));
            }
        }}

                var ctx = document.getElementById('graph-fuer-monat').getContext('2d');
                myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: newLabel,
                        datasets: [{
                            label: 'Dezibel',
                            data: newData,
                            backgroundColor: 'rgba(54, 162, 235, 0.5)',
                            borderColor: 'rgba(255, 255, 255, 0.7)',
                            //borderWidth: 1,
                            //lineTension: 0.1
                            tension: 0.3,
                            pointRadius: 5,
                            pointHoverRadius: 7
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        scales: {
                            y: {
                                min: min_y-3,
                                position: 'right',
                                title: {
                                    display:true,
                                    text: 'Dezibel',
                                    color: 'white',
                                    font: {
                                        family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                        size: 20
                    }
                                },
                                ticks: {
                                color: 'white', //war davor white
                                font: {
                                    family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                    size: 20
                                    }
                                },
                                grid: {
                                    display: false // Raster für y-Achse ausblenden
                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Tag',
                                    color: 'white',
                                    font: {
                                        family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                        size: 20
                                    }
                                },
                                ticks: {
                                    color: 'white',
                                    font: {
                                        family: "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif",
                                        size: 20
                                    }
                                },
                                grid: {
                                    display: false // Raster für y-Achse ausblenden
                                }
                            }
                        }
                    },
                    plugins: [statusTracker]
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    $('#month_selection').on('change', function() {
        var selectedOption1 = $(this).val();
        var selectedOption2 = $('#secondDropdown').val();
        if (selectedOption1 && selectedOption2) {
            updateChart(selectedOption1, selectedOption2);
    }
    });

    $('#secondDropdown').on('change', function() {
        var selectedOption2 = $(this).val();
        if ($('#month_selection').val() && selectedOption2) {
            updateChart($('#month_selection').val(), selectedOption2);
    }
    });


            /*
            $('#secondDropdown').on('change', function() {
                var selectedOption = $(this).val();

                $.ajax({
                    url: '/get_chart_data',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'selected_option': selectedOption }),
                    success: function(response) {
                        // Handle the response and refresh the chart
                        var newData = response[0];
                        var newLabel = response[1];

                        // Clear the existing chart
                        if (myChart !== null) {
                            myChart.destroy();
                        }

                        var ctx = document.getElementById('graph-fuer-monat').getContext('2d');
                        myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: newLabel,
                                datasets: [{
                                    label: 'Dezibel',
                                    data: newData,
                                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                    borderColor: 'rgba(253, 151, 64, 1)',
                                    borderWidth: 1,
                                    lineTension: 0.1
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        display: false
                                    }
                                },
                                scales: {
                                    y: {
                                        position: 'right',
                                        title: {
                                            display:true,
                                            text: 'Dezibel'
                                        }
                                    },
                                    x: {
                                        title: {
                                            display: true,
                                            text: 'Tag'
                                        }
                                    }
                                }
                            }
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });*/
        });
    </script>

</body>

</html>