<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" , href="../static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/month.js"></script>

</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="hamburger" onclick="toggleMenu()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="menu">
                <p>
                    <a href="uebersicht.html">Übersicht</a>
                </p>
                <p>
                    <a href="heute.html">Heute</a>
                </p>
                <p>
                    <a href="kalenderwoche.html">Kalender&shywoche</a>
                </p>
                <p>
                    Monat
                    <span class="time-box">
                        <textarea></textarea>
                    </span>
                </p>
                <div class="language-container">
                    <div>
                        <img src="../static/bilder/deutschland-flagge.jpg" alt="Deutschland Flagge">
                    </div>
                    <div class="all-languages">
                        <a href="./uebersicht.html">
                            <img src="../static/bilder/deutschland-flagge.jpg" alt="Deutschland Flagge">
                        </a>
                        <a href="../english/overview.html">
                            <img src="../static/bilder/englische-flagge.jpg" alt="englische Flagge">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button id="infoButton">i</button>
            <div id="infoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Info:</h2>
                    <p>
                        Sie befinden sich auf der "Monat" Seite.<br>
                        Hier eine kurze Einführung wie Sie diese Seite bedienen können.
                    <ul>
                        <li>Schritt 1: Geben Sie in dem Eingabefeld unterhalb "Monat" einen gültigen Monat an,
                            mit dem zugehörigem Jahr dahinter. <br> Bsp:"12 2023"</li>
                        <li>Schritt 2: Wählen Sie ein Stockwerk aus</li>
                        <li>Schritt 3: Wählen Sie einen entsprechenden Bereich aus
                        </li>
                    </ul>
                    </p>
                    Sie sollten nun eine Tabelle und einen Graphen sehen welcher den ganzen Monat darstellt.<br>
                    An dem Graphen kann die Lautstärke des jeweiligen Tages abgelesen werden.
                </div>
            </div>
            <div class="floor-area">
                <div class="choose">
                    Stockwerk:
                    <select id="firstDropdown" onchange="updateSecondDropdown()" onchange="checkSelectionMonth()">
                        <option value="" disabled selected hidden></option>
                        <option value="floor1">1</option>
                        <option value="floor2">2</option>
                    </select>
                    Bereich:
                    <select id="secondDropdown" onchange="checkSelectionMonth()" disabled>
                        <option value="" disabled selected hidden></option>
                    </select>
                </div>
            </div>
            <div class="week-month-display">
                <table>
                    <tr>
                        <th>dB ⌀</th>
                        <th>54</th>
                    </tr>
                    <tr>
                        <th>Anzahl der Warnungen</th>
                        <th>23</th>
                    </tr>
                </table>
                <div class="month-graph">
                    <canvas id="graph-fuer-monat"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var myChart = null;

            $('#secondDropdown').on('change', function() {
                var selectedOption = $(this).val();

                $.ajax({
                    url: '/get_chart_data',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'selected_option': selectedOption }),
                    success: function(response) {
                        // Handle the response and refresh the chart
                        var newData = response[0];
                        var newLabel = response[1];

                        // Clear the existing chart
                        if (myChart !== null) {
                            myChart.destroy();
                        }

                        var ctx = document.getElementById('graph-fuer-monat').getContext('2d');
                        myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: newLabel,
                                datasets: [{
                                    label: 'Chart Data',
                                    data: newData,
                                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>

</body>

</html>